main {
    max-width: 50%;
    margin: 0 auto;
    padding: 60px 30px 150px;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

.container-imgs {
    display: grid;
    grid-template-rows: 60px 1fr 60px 1fr 60px 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.container-imgs img {
    border: 1px solid black;
    border-radius: 10px;
}

.container-imgs h2 {
    align-content: end;
}

.container-imgs img:hover {
    opacity: 0.9;
    box-shadow: 7px 7px black;
}

img {
    max-width: 200px;

}