.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

img.primeira-imagem {
    width: 300px;
    border-radius: 15px;
}

.primeiro-texto {
    align-self: flex-start;
}

.primeiro-texto h1 {
    font-size: 1.4em;
}

.evangelho-do-dia {
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.884)),
    url("../img/evangelho-do-dia.png");
}

.santo-do-dia {
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.884)),
    url("../img/santo-do-dia.png");
}

.evangelho-do-dia, .santo-do-dia {
    margin: 50px auto 0;
    padding: 200px 100px;
    border-radius: 15px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    font-weight: bold;
}

.container-grid div:not(.primeiro-texto):hover {
    box-shadow: 7px 7px rgba(0, 0, 0, 0.806);
    transform: translate(-3px, -3px);
    transition: transform .3s, border 1s;
}

.evangelho-do-dia .titulo, .santo-do-dia .titulo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5em;
}

.dia {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em
}

.titulo-ministerios {
    margin-top: 60px;
}

/* Ministérios */

.container-grid.ministerios-pastorais-movimentos {
    grid-template-rows: 350px;
    grid-auto-rows: 350px;
    justify-items: center;
}

.item {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 15px;
}

.terco-dos-homens {
    background: url("../img/ministerios-pastorais-movimentos/terco-dos-homens.png");
}

.grupo-de-jovens {
    background: url("../img/ministerios-pastorais-movimentos/grupo-de-jovens.png");
}

.coroinhas-acolitos {
    background: url("../img/ministerios-pastorais-movimentos/coroinhas-acoltios.png");
}

.equipe-de-liturgia {
    background: url("../img/ministerios-pastorais-movimentos/equipe-liturgia.png");
}

.item p {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: none;
}

.terco-dos-homens:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.884)), url("../img/ministerios-pastorais-movimentos/terco-dos-homens.png");
}

.grupo-de-jovens:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.884)), url("../img/ministerios-pastorais-movimentos/grupo-de-jovens.png");
}

.coroinhas-acolitos:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.884)), url("../img/ministerios-pastorais-movimentos/coroinhas-acoltios.png");
}

.equipe-de-liturgia:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.884)), url("../img/ministerios-pastorais-movimentos/equipe-liturgia.png");
}

.item:hover {
    transform: translate(-3px, -3px);
    transition: transform .3s, border 1s;
}

.item:hover p {
    display: block;
}


@media only screen and (max-width: 750px) {
    .container-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    img.primeira-imagem {
        margin-bottom: 10px;
    }

}