.noticia-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noticia-principal h1 {
    font-size: 1.3em;
}

.noticia-principal img {
    width: 300px;
    border-radius: 15px;
}

.texto-noticia-principal {
    margin-left: 20px;
}

.links-categorias {
    margin-top: 50px;
}

.links-categorias p {
    font-weight: bold;
}

.links-categorias a {
    color: black;
    text-decoration: none;
    padding: 50px;
    /* display: block; */
}

.container-noticias {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.container-noticias img {
    width: 300px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.518);
}

.container-noticias h2 {
    margin-left: 20px;
    align-self: center;
    font-size: 1.2em;
}

@media only screen and (max-width: 760px) {
    .container-noticias {
        justify-content: center;
    }
    
    .container-noticias h2 {
        margin-left: 0;
    }
}

.container-grid.c1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 40px 0 40px 0;
}

img.primeira-imagem {
    width: 300px;
    border-radius: 15px;
}

.primeiro-texto {
    align-self: flex-start;
}

.primeiro-texto h1 {
    font-size: 1.4em;
}

/* .container-grid.c2 {
    display: inline-grid;
    grid-template-columns: 550px;    
} */

.categorias {
    /* padding: 0 20px 20px 20px; */
    display: inline-block;
    margin-right: 20px;
}

.categorias p {
    font-weight: bold;
    padding: 10px;
}

.categorias a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.sub-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sub-container img {
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.807);
    display: inline;
}

.sub-container h2 {
    display: inline;
}

/*EXCLUIR */
/* .container-grid {
    border: 1px solid black;
}

.container-grid > div {
    border: 1px solid black;
} */

@media only screen and (max-width: 750px) {
    .container-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    img.primeira-imagem {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 717px) {
    .texto-noticia-principal {
        margin-left: 0;
    }

    .texto-noticia-principal p {
        display: none;
    }
}

@media only screen and (max-width: 742px) {
    .links-categorias a {
        display: inline;
        padding: 10px;
    }
}