main img {
    width: 100%;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}

h1{
    font-size: 1.6em;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    text-align: justify;
}

a {
    text-decoration: none;
}